# Ignore Gradle project-specific cache directory
.gradle

#ignore vscode directory
.vscode

# Ignore Gradle build output directory
build

# Ignore environment files
.env
*.env
.env.local
.env.*.local
